{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block dashboard %}

<div class="content-page">
    <div class="container-fluid">
        <h3>Redigez Devis</h3>
        <form id="myForm" method="POST">
            {% csrf_token %}


            {{ form.management_form }}
            {% for f in form.forms %}
                <div class='table'>
                <table class='no_error'>
                    {{ f.as_table }}
                </table>
                </div>
            {% endfor %}
            <input type="button" value="Ajouter" id="add_more">
            <script>
                $('#add_more').click(function() {
                    cloneMore('div.table:last', 'prod_set');
                });
            </script>
                    


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
             <button type="button" class="btn bg-danger">Annuler</button>
             </div>
          </form>
   </div>

</div>
<script>

//var autoComplete = [ {% for i in produit %} " {{i.name}} ", {% endfor %} ];

					

// $('.sel').on("focus", function(){
//     new $(this).autocomplete({
//        minLength: 2,
//        source: autoComplete
//         });
// });
</script>



<script>
    {% autoescape off %}
    var data = {{data}};
    {% endautoescape %}
    
function cloneMore(selector, type) {
  var newElement = $(selector).clone(true);
  var total = $('#id_' + type + '-TOTAL_FORMS').val();
  
  newElement.find(':input').each(function() {
      var na, tp;
      na = String(this.id);
      na = na.replace('id_prod_set-', '');
      na = na.split("-");
      tp = na[1];
     

      $(this).attr({'name': ('prod_set-'+total+'-'+tp), 'id': 'id_prod_set-'+total+'-'+tp}).val('').removeAttr('checked');
  });
  newElement.find('label').each(function() {
      var newFor = $(this).attr('for');
      $(this).attr('for', newFor);
  });

  total++;
  $('#id_' + type + '-TOTAL_FORMS').val(total);
  $(selector).after(newElement);

}
</script>

{% endblock dashboard %}
