{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}

<div class="content-page">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Facture Modification</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregister</button>
                     </div>
                    {% endbuttons %}
                </form>
        </div>
    </div>
        <!-- Page end  -->
    </div>


      </div>

{% endblock dashboard %}


