{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block dashboard %}


      <div class="content-page">
     <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Nom : {{nom.nom}}</h4>
                        <br>
                        <h4 class="mb-3">Telephone : {{nom.telephone}}</h4>
                        <br>
                        <h4 class="mb-3">Email : {{nom.email}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Total Impayer : {{totaldyaltotal |floatformat:2}} DH</h4>
                        <br>
                        <h4 class="mb-3">Paiments Total : {{paiment_total |floatformat:2}} DH</h4
                        <br>
                        <h4 class="mb-3">Impayer Facture : {{imp_fac |floatformat:2}} DH</h4>
                        <br>
                        <h4 class="mb-3">Impayer Vente : {{imp_vente |floatformat:2}} DH</h4>>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

                <table class="table data-table stripe" id="venteprofil">
                    <thead>
                       <tr class="ligth">
                            <th>Date</th>
                            <th>N Fac | Article</th>
                            <th>Statut</th>
                            <th>Total</th>
                            <th>Voir</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for prod in dette %}
                        <tr>
                  
                            <td>{{prod.date|date:"Y-m-d"}}</td>
                            <td>{{prod.produit}}</td>
                            <td>{{prod.pay}}</td>
                            <td>{{prod.p_remise |floatformat:2}}</td>
                            <td>
                                <div class="align-items-left list-action d-inline">
                                    <a class="badge bg-success mr-2" data-original-title="Payer" href="{% url 'gest:pavente' prod.pk %}" ><i class="fa fa-check"></i></a>
                                </div>
                                <div class="align-items-left list-action d-inline">
                                    <a class="badge bg-warning mr-2" data-original-title="Impayer" href="{% url 'gest:imvente' prod.pk %}" ><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                            
                        </tr>
                        {% endfor %}
                        {% for prod in vente %}
                        <tr>
                            
                            <td>{{prod.date|date:"Y-m-d"}} {{prod.date|time:"H:i"}}</td>
                            <td>{{prod.ref}}</td>
                            <td>{{prod.type_facture}}-{{prod.statut}}</td>
                            <td>{{prod.toutTaxe |floatformat:2}}</td>
                            <td>
                                <div class="align-items-left list-action d-inline">
                                    <a class="badge bg-info mr-2" data-original-title="Apercu" href="{% url 'gest:choicespdfbl' prod.pk %}" target="_blank"><i class="fa fa-eye"></i></a>
                                </div>
                                <div class="align-items-left list-action d-inline">
                                    <a class="badge bg-success mr-2" data-original-title="Payer" href="{% url 'gest:pa' prod.pk %}" ><i class="fa fa-check"></i></a>
                                </div>
                                <div class="align-items-left list-action d-inline">
                                    <a class="badge bg-warning mr-2" data-original-title="Impayer" href="{% url 'gest:im' prod.pk %}" ><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                       
                    
                    </tbody>
                 </table>
                 
    
            </div>
            
            <br>
            
            <div class="col-lg-12">
                <h3>Paiments</h3>
                <br>
                <div class="table-responsive rounded mb-3">
                <table class="data-table table mb-0 tbl-server-info" id="tabler">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th>Date</th>
                            <th>Commande Id</th>
                            <th>Montant</th>
                            <th>Supp</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        {% for m in data %}
                        <tr>
                            <td>{{m.date | date:"d-m-Y"}}</td>
                            <td>{{m.commande_id}}</td>
                            <td>{{m.montant}}</td>
                            <td>
                                <div class="align-items-left list-action">
                                    <a class="badge bg-danger mr-2" onclick="confirme('{{m.pk}}', 'delete_paiments')" href="#" ><i class="fa fa-trash-alt fa-2x"></i></a>
                                </div>
                            </td>
                         
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            
            
            </div>
        </div>
        <!-- Page end  -->
    </div>

      </div>

      <script>
        $(document).ready(function () {
    $('#venteprofil').DataTable({
        order: [[0, 'desc']],
    });
});
     </script>

      {% endblock dashboard %}
   